language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
  # - pip install coverage 
  - pip install pytest pytest-cov
# command to run tests

# creating db
before_script:
  - psql -c 'create database test_book;' -U postgres
  # - psql -c "create user postgres with password '12345';" -U postgres

script:  
  # - nosetests --with-coverage
  - pytest --cov=./ # or py.test for Python versions 3.5 and below
after_success:
  -coveralls


