language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
  # - pip install coverage 
  - pip install pytest pytest-cov
# command to run tests
script:
  # - nosetests --with-coverage
  - pytest --cov=./ # or py.test for Python versions 3.5 and below
after_success:
  - coveralls
